#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

.main.is-centered {
  display: flex;
  align-items: center;
}

.column {
  height: auto;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.column.is-three-quarters {
  margin-left: auto;
}

.columns.is-gapless {
  margin-bottom: 0 !important;
}
